<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="hydro-config"/>
    <script defer src="~/hydro/hydro.js" asp-append-version="true"></script>
    <script defer src="~/hydro/alpine.js" asp-append-version="true"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - hydro_examples</title>

    <link
        href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
        asp-fallback-href="lib/daisyui/full.min.css"
        rel="stylesheet" type="text/css"/>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="lib/htmx/htmx.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/collapse@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/persist@@3.x.x/dist/cdn.min.js"></script>
    @* <script src="lib/alpinejs/cdn.min.js" defer></script> *@
</head>
<body>
<header>

</header>
<div class="">
    <main role="main" class="p-4">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>